<div class="row" >  
   <div class="col-md-2"> 
      <button mat-button (click)="sendFresher()" class="button">Freshers</button>
      <button mat-button (click)="sendExperience()" class="buttonexp" >Work Experienced</button>
   <!-- <img class="gallery-image" src="assets/image/experience.jpg">  -->
   <!-- <img class="gallery-image" src="assets/image/freshers.jpg"> -->
   </div>
   <div class="col-md-10">
   <!-- <img src="D:\RB-Project\src\assets\image\resume-template.png" >  -->
      <img class="image" src="assets/image/resume-builder.png">
   </div> 
</div>
