<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-toolbar class="menu"
    (click)=" extendable()"
    [class.selects]="true" 
    (click)="rotate=!rotate"
    style="  background-color: #FF4B2B;
             color: white;"><mat-icon [class.select]="rotate"  >keyboard_arrow_right</mat-icon></mat-toolbar>
    <mat-nav-list [class.grid]="isExpandable" style="padding:0">
      <mat-list-item  routerLink="/dashboard" routerLinkActive="selected" >
        <div id="home" style="margin:auto;"><mat-icon>home</mat-icon><span style="margin-left:5px" *ngIf="isExpandable"> HOME</span></div>          
      </mat-list-item>
      <mat-list-item  routerLink="/resume/add" routerLinkActive="selected">
        <div id="add" style="margin:auto;" ><mat-icon>person_add</mat-icon><span style="margin-left:10px ; width: 40px;" *ngIf="isExpandable">ADD</span></div>
      </mat-list-item>
      <mat-list-item  routerLink="/header" routerLinkActive="selected" >
        <div id="feed" style="margin:auto;" ><mat-icon >feed</mat-icon><span style="margin-left:5px" *ngIf="isExpandable">FEED</span></div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
<mat-sidenav-content >
  <mat-toolbar color="primary">
    <span>RBproject</span>
    <div class="button">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button class="welcome" mat-menu-item disabled>
          <span style="color:rgb(128, 128, 128)">WELCOME</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon style="color:rgb(128, 128, 128)">account_circle</mat-icon>
          <span style="color:rgb(128, 128, 128)">{{currentUser}}</span>
        </button>
        <button (click)="SignOut()"  mat-menu-item>
          <mat-icon style="color:rgb(128, 128, 128)">logout</mat-icon>
          <span style="color:rgb(128, 128, 128)">SignOut</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <!-- Add Content Here -->
  <section style ="height: 80vh;">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>
  <!-- <div class="footer">
    <app-footer></app-footer>
  </div>     -->
</mat-sidenav-content>

</mat-sidenav-container>
