.circle{
    // background: transparent;
    background: #ebebeb;
    border-radius: 10px;
    width: 150px;
    height: 20px;
    padding: 26px;
    border: 1px solid black;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
#row1{
    height: 120px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
}
$height: calc(100vh - 64px);
#preview{
    height: $height;
    background-color: white;
    padding: 20px;
}
// #row2{
//     margin-top: 120px;
// }
mat-icon{ 
     transform: scale(1);
}

.circle:hover{
    box-shadow: 0px 0px 8px  rgb(187, 184, 184);
    cursor: pointer;
}
#switch{
    height: 100%;
}

.name{
    margin-left: 5px;
}

.selected{
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: white;
    border-color: white;
}
// #row1{
//     height: 120px;
// }
.col{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and(max-width:800px) {
    .circle{
    background: transparent;
    border-radius: 10px;
    width: 30px;
    height: 20px;
    padding: 30px;
    border: 1px solid black;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    }
    .selected{
        background: linear-gradient(to right, #FF4B2B, #FF416C);
        color: white;
        border-color: white;
    }
}


