<div class="container">
  <div class="row" id="row">
    <ng-container [ngSwitch]="stepperOrientation | async">
      <div *ngSwitchCase="'horizontal'"></div>
       <div *ngSwitchCase="'vertical'"></div>
    </ng-container>
    <mat-stepper [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="project" errorMessage="project details is required.">
        <ng-template matStepLabel>Project Details</ng-template>
       <!-- ...................................Project Details FORM............................................. --> 
        <form class="row" [formGroup]="project" (ngSubmit)="projectExp(project.value)">
          <mat-form-field class=" col-md-6" >
            <mat-label>Project Name</mat-label>
            <input matInput placeholder="Project Name" formControlName="name" type="text" >
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>Tools</mat-label>
            <input matInput placeholder="Tools" formControlName="tools" type="text" >
          </mat-form-field>
          <mat-form-field class="col-md-12">
            <mat-label>Description</mat-label>
            <input matInput placeholder="description" formControlName="description" type="text" >
          </mat-form-field>
          <div class="button">
            <button mat-button (click)="backOthers()">Previous</button>
            <button mat-button  (click)="reset()">Add</button>
            <button mat-button matStepperNext >Next</button>
          </div>
      </form>
      </mat-step>
      <mat-step [stepControl]="skill">
        <ng-template matStepLabel>Skills</ng-template>
        <!-- ...................................SKILLS FORM.............................................  -->
        <form class="row"  [formGroup]="skill" (ngSubmit)="submitSkills(skill.value)" >
          <mat-form-field class="col-md-12">
            <mat-label>Skills</mat-label>
            <mat-chip-list #chipList aria-label="Skills">
              <mat-chip *ngFor="let skill of skills" (removed)="remove(skill)">
                {{skill.name}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="skills"  formControlName="skill1"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        <div  class="button">
          <button mat-button matStepperPrevious>Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="certificate">
        <ng-template matStepLabel>Certification</ng-template>
        <!-- ...................................Certification FORM............................................. --> 
        <form class="row" [formGroup]="certificate" (ngSubmit)="submitCertificate(certificate.value)" >
          <mat-form-field class="col-md-6">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" type="text" >
          </mat-form-field>
          <mat-form-field class="col-md-6" >
            <mat-label>Company/Institute</mat-label>
            <input matInput placeholder="Company/Institute" formControlName="company" type="text" >
          </mat-form-field>
          <mat-form-field class="col-md-6" >
            <mat-label>Duration</mat-label>
            <input matInput placeholder="e.g 1 may 2020 - 1july 2020" formControlName="duration" type="text" >
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <mat-label>Mode</mat-label>
            <input matInput placeholder="Mode" formControlName="mode" type="text" >
          </mat-form-field>
          <div class="button">
            <button  mat-button matStepperPrevious>Previous</button>
            <button mat-button (click)="resetCertificate()" >Add</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="hobby">
        <ng-template matStepLabel>Hobbies</ng-template>
        <!-- ...................................STRENGTH FORM............................................. --> 
        <form class="row" [formGroup]="hobby" (ngSubmit)="submitHobbies(hobby.value)" >
          <mat-form-field class="col-md-12" >
            <mat-label>Hobby</mat-label>
            <mat-chip-list placeholder="Hobbies" #chipList aria-label="Hobbies"> 
              <mat-chip *ngFor="let hobbies of hobbies" (removed)="removeHobbies(hobbies)">
                {{hobbies.type}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Hobbies" formControlName="hobby1"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnHobbies"
                    (matChipInputTokenEnd)="addHobbies($event)">
            </mat-chip-list> 
          </mat-form-field>
          <section class="check-md-12">
            <mat-checkbox>I hearby declare that all the information given by me is true to my knowledge and my belief.</mat-checkbox>
          </section>
          <div class="button">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
  